.intro-img img{
	width: 80%;
}

.card-header h5, h6{
	margin: 0 !important;
}

.text-contact h5{
	padding: 20px 40px !important;
	text-align: center;
	border-top: 1px solid #417bfe;
	color: #293d50
}

.footer-contact a{
	color: #FFF !important;
}

.footer-contact a:hover{
	text-decoration: underline;
}